.card__like-button {
  border: none;
  box-sizing: content-box;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  position: relative;
  font-size: 0;
  background-image: url(../../../images/like__button.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 19px;
  flex-shrink: 0;
  margin: 0;
  align-self: center;
}

.card__like-button:hover {
  opacity: 0.5;
}
