.card__remove-button {
  border: none;
  box-sizing: content-box;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 21px;
  font-size: 0;
  background-image: url(../../../images/remove-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 19px;
  flex-shrink: 0;
}

.card__remove-button:hover {
  opacity: 0.8;
}
