.popup__form {
  display: flex;
  flex-direction: column;
  /* width: calc(100% - 72px); */
  margin: 34px auto 37px;
  text-align: start;
}

@media screen and (max-width: 1200px) {
  .popup__form {
    width: calc(100% - 38px);
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
