.popup__input-container {
  width: 100%;
  margin: 54px 0 0 0;
  border: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  color: #000000;
  font-family: "Inter", "Arial", sans-serif;
}

@media screen and (max-width: 1200px) {
  .popup__input-container {
    margin-top: 75px;
  }
}
