.profile__info-element {
  display: flex;
  gap: 18px;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .profile__info-element {
    gap: 10px;
  }
}

@media screen and (max-width: 320px) {
  .profile__info-element {
    margin-left: 27px;
    justify-content: center;
    min-width: 189px;
  }
}
