.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background-color: transparent;
  padding: 0;
  align-self: center;
  cursor: pointer;
  position: relative;
  font-size: 0;
  background-image: url(../../../images/edit_button.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1200px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}
